@using PaymentGateway.Data.ViewModels

<div class="product-card">
    <div class="product-image">
        <img src="@Prod.ImageUrl">
    </div>
    <div class="product-info">
        
        <NavLink class="nav-link" href="@string.Format("product/{0}", Prod.ProductId)" Match="NavLinkMatch.All">
            <h5>@Prod.Name</h5>
        </NavLink>
        <h6>£@Prod.Amount</h6>
        <h6><b>@Prod.MerchantName</b></h6>
    </div>
</div>

@code {
    [Parameter]
    public ProductMetaData Prod { get; set; }

    protected override void OnInitialized()
    {
    }
}
