@page "/basket"
@using Microsoft.AspNetCore.Authorization

@using PaymentGateway.Data.ViewModels

@inject HttpClient Http
@attribute [Authorize]

<h3>Basket @TitleAddendum</h3>

@if (UserBasket != null)
{
    <section class="products">
        @foreach (var item in UserBasket.Items)
        {
            <ProductMeta Prod="item.Product"></ProductMeta>
            <div>
                <input type="number" value="@item.Quantity" />
            </div>
        }
    </section>
}
else
{
    <p>Loading your basket...</p>
}

@code {
    public BasketDetail UserBasket { get; set; }

    public string TitleAddendum => UserBasket != null
        ? $"- {UserBasket.Size} Items"
        : string.Empty;

    protected override async Task OnInitializedAsync()
    {
        UserBasket = await Http.GetFromJsonAsync<BasketDetail>("Basket");
    }
}
