@page "/store"
@using Microsoft.AspNetCore.Authorization

@using PaymentGateway.Data.ViewModels

@inject HttpClient Http
@attribute [Authorize]

<h3>Store</h3>

@if (Products != null)
{
    <section class="products">
        @foreach (var prod in Products)
        {
            <ProductMeta Prod="prod"></ProductMeta>
        }
    </section>
}
else
{
    <p>Loading products...</p>
}

@code {
    public ProductMetaData[] Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Products = await Http.GetFromJsonAsync<ProductMetaData[]>("Product/List");
    }
}
